/*****TAG SELECTORS*****/

body {
  background-color: #FCF8E8;
}

hr {
  border:none;
  border-top:8px dotted;
  color: #ECB390;
  width:3%;
}
h1 {
  font-family: system-ui;
  color: #94B49F;
}
h3 {
  font-family: system-ui;
  color: #94B49F;
}

/*****CLASS SELECTORS*****/

.linkedin:hover {
  color: #DF7861;
}
